.nav-toolbar {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f3eeee;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 11;
    pointer-events: auto;
    position: relative; 
    border-bottom: 1px solid;
}

.nav-title {
    margin: 0 0 0 0;
    font-size: 1.2rem;
}
.leyersidebar{
    width: 8rem;
    
}

.sidebar-content{
    width: 100%;
}

.tools-buttons-row {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.tools-buttons-row button {
    padding: 6px 12px;
    cursor: pointer;
}

.tools-buttons-row button.active {
    background-color: #007bff;
    color: white;
}

